* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profile {
  color: rgb(217, 232, 237);
  background-color: oklch(50.09% 0.21526 261.847 / 0.467);
  margin: 0px;
  padding: 0px;
}
.profile h1 {
  text-align: center;
  font-family: Georgia, serif;
}
.profile p {
  text-align: center;
  margin-top: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(10, 154, 244);
}
.santri {
  text-align: center;
  color: rgba(232, 229, 239, 0.985);
}
.nopal {
  width: 100px;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  padding: 10px;
}
.card {
  display: flex;
  background-color: rgb(15, 75, 194);
  margin-bottom: 20px;
  width: 300px;
  border-radius: 20px;
  align-items: center;
  padding: 10px;
  gap: 10px;
}
.row {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 40px;
  flex-wrap: wrap;
}
.muhammad {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  padding: 10px;
}
.fadly {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  padding: 10px;
}
.fakhrie {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  padding: 10px;
}
.jabir {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  padding: 10px;
}
.latif {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  padding: 10px;
}

.jundi {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  padding: 10px;
}
.mumtaz {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  padding: 10px;
}
.footer {
  text-align: center;
  margin-top: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 90px;
}
.footer p {
  color: rgb(217, 232, 237);
  font-size: 14px;
  background-color: rgba(0, 21, 34, 0.537);
  padding: 10px;
}
.about {
  text-align: center;
  margin-top: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(9, 12, 14);
}
.about fieldset {
  width: 300px;
  margin: auto;
  border-radius: 10px;
  background-color: rgb(247, 247, 247);
}
.search {
  text-align: center;
  margin-top: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 18px;
  background-color: rgb(89, 149, 160);
}
.foter {
  text-align: center;
  margin-top: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 40px;
}
.foter p {
  color: rgb(217, 232, 237);
  font-size: 14px;
  background-color: rgba(0, 21, 34, 0.537);
  padding: 10px;
}
@media only screen and (max-width: 600px) {
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
